
.sidebar {
    background: white;
    width: 0%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    left:0;
}


li {
    list-style-type: none;
    font-size: 3.7vw;
    margin-bottom: 20px;
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    min-width: 100%;
}

.sidemenu {
    margin: 90px 0 0 130px;
}

.sidetext {
    opacity: 1;
    color: goldenrod;
}

