---
  import BaseHead from '@/components/BaseHead.astro';
  import Nav from '@/components/Nav.astro';
  import '@/styles/style.scss';
  import Img1 from '@/images/pexels-andee-11833044.jpg';
---

<script>
  import '@/script/menu.js'
</script>
<html lang="en">

<head>
  <BaseHead />

</head>

<body>
  <main class="min-h-screen flex items-center justify-between flex-col">
    <Nav />

    <aside class="sidebar">
      <div class="sidemenu">
        <li class="sidetext font-serif">Home</li>
        <li class="sidetext font-serif">About</li>
        <li class="sidetext font-serif">Shop</li>
        <li class="sidetext font-serif">Contact</li>
      </div>
    </aside>
    <div class="container w-full">

      <img src={Img1} class="w-full object-center" />

    </div>

  </main>
</body>

</html>